<body>
    <div class="controls">
      
    </div>
  
    <mat-card id="table1">
      <!-- <table class="mt-3">
        <tr >
          <td align="center" style="width: 22%;"> <mat-icon id="icon" class="mr-3">emoji_objects</mat-icon> </td>
          <td class="ml-4" style="width: 63%;">
            <h2 id="text">Solution Jar</h2>
            <p id="text">Vertical Engins</p>
          </td>
          <td style="width: 15%;">
            <div id="div2">
              <i id="text"  class="fa fa-plus addButton ml-4"  data-toggle="modal" data-target="#myModal"></i>
            </div>
          </td>
        </tr>
      </table> -->
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Solution1</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <button (click)="updateArrows('clicked')">click</button>
          <!-- <input matInput type="checkbox" id="element2" style="background-color: aqua;"> Linkage
          <mat-checkbox  type="checkbox" id="element2"></mat-checkbox> -->
          <p>Description: Testing</p>
        </mat-expansion-panel>
        
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Solution2</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
      </div>
    </mat-card>
  
    <mat-card id="table2">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Frontend1</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
        
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Frontend2</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
      </div>
    </mat-card>
  
    <mat-card id="table3">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Pipeline1</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
        
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Pipeline2</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
      </div>
    </mat-card>
  
    <mat-card id="table4">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Model1</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
        
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Model2</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
      </div>
    </mat-card>
  
    <!-- <table id="table5">
      <tr>
        <td>Table 5, Row 1</td>
      </tr>
      <tr>
        <td>Table 5, Row 2</td>
      </tr>
    </table> -->
    <mat-card id="table5">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Dataset1</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
        
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header> <mat-panel-title>
            <p class="mt-3" style="font-size: 15px;color:black"><b>Test Dataset2</b></p>
          </mat-panel-title> </mat-expansion-panel-header>
          <p>Description: Testing</p>
        </mat-expansion-panel>
      </div>

    </mat-card>
  
  
    <div>
  
    </div>
    </body>


    <div class="container-fluid">
      <mat-card id="card1">
        <div>
          <mat-expansion-panel id="first-panel">
             
          </mat-expansion-panel>
          <mat-expansion-panel id="second-panel">
             
          </mat-expansion-panel>
          
        </div>
      </mat-card>
      <mat-card id="card2">
        <div>
          <mat-expansion-panel id="first-panel">
             
          </mat-expansion-panel>
          <mat-expansion-panel id="second-panel">
             
          </mat-expansion-panel>
          
        </div>
      </mat-card>
      <mat-card id="card3">
        <div>
          <mat-expansion-panel id="first-panel">
             
          </mat-expansion-panel>
          <mat-expansion-panel id="second-panel">
             
          </mat-expansion-panel>
          
        </div>
      </mat-card>
       
    </div>