<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <table  class="ex3 py-0 my-0" id="table1" >
            </table>
        </div>
        <div class="col-lg">
            <table  class="ex3 py-0 my-0" id="table2" >
            </table>
        </div>
        <div class="col-lg">
            <table  class="ex3 py-0 my-0" id="table3" >
            </table>
        </div>
        <div class="col-lg">
            <table  class="ex3 py-0 my-0" id="table4" >
            </table>
        </div>
        <div class="col-lg">
            <table  class="ex3 py-0 my-0" id="table5" >
            </table>
        </div>
    </div>
</div>


<!-- .container-fluid{
    overflow: auto;
    height: 100%;
    margin-top: 12px;
  } 
    .col-lg{
      flex: 1;
      background-color: #FFFFFF;
      margin:8px;
      width: auto !important;
      height:90vh;
      position: relative;
      overflow-y: auto;
  }
  .ex3 {
      position: relative;
      margin-bottom: 120px;
      width:auto;
      height: auto;   
    } -->