<!--The content below is only a placeholder and can be replaced.-->
<ng-particles 
id="tsparticles" 
[options]="particlesOptions"
 [particlesInit]="particlesInit"
 (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
<div class="d-flex flex-row justify-content-center" style=" position:absolute;left:30%">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <img
    id="one"
    width="400"
    height="300vh"
    alt="JKTech Logo"
    src="./../../assets/JK-Tech-Logo_new.png"
   style="margin-top: -10px;"
  />
  <img 
  id="two"
  width="160vw"
  height="180vh"
  alt="Jarvis Logo"
  src="./../../assets/JARVIS_Logo1.png"
  style="margin-bottom: 2em!important;"
/>

</div>
    