

  
<div class="container-fluid">
  <!-- <p class="alert alert-success" *ngIf="storeResponse!=null">{{storeResponse}}</p> -->

  <div class="pr-3 cart_button" > <a aria-placeholder="Add Cart">
    <mat-icon  aria-hidden="false" aria-label="Example home icon"
    style="color:rgb(30, 30, 30);cursor: pointer;" fontIcon="shopping_cart" ></mat-icon></a>
    <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
  </div>

  <!-- <div class="controls"> -->
    <!-- <input type="checkbox" id="element2"> Check
    <mat-checkbox class="example-margin" id="element2">Checked</mat-checkbox> -->
    <!-- <button (click)="updateArrows('clicked')">click</button> -->
    <!-- <button (click)="updateArrows('clear')">cancel</button> -->
  <!-- </div> -->
<!--------------------------------------------------------------------------------------------------------------------------------->
  <div class="row">
    <!-- <mat-card class="col-lg ex3"> -->
      <div class="col-lg">
        <table  class="ex3 py-0 my-0" id="table1">
       
          <table class="mt-3">
            <tr>
              <td align="center" style="width: 22%;"> <mat-icon style="margin-left:-10px;" id="icon" class="">emoji_objects</mat-icon> </td>
              <td align="left" style="width: 66%;">
                <h3 id="text">Solution Jar</h3>
              <p id="text">Vertical Engins</p>
              </td>

              <td style="width: 11%;">
                <div id="div2">
                  <!-- <mat-icon class="addButton mr-3" data-toggle="modal" data-target="#myModal" matTooltip="Add">add</mat-icon> -->
                  <i id="text"  class="fa fa-plus addButton ml-4" (click)="SelectJar('Solution')" data-toggle="modal"
                  data-target="#myModal"></i>
                </div>
              </td>
            </tr>
          </table>
        <!-- </table> -->
        <tr class="input-group pt-3 pb-3">
        <!-- <div >  -->
          <input class="form-control py-2 border-right-0 border" style="width:130px; height:50px;background-color: transparent;" [(ngModel)]="Searchvalue4" type="search" placeholder="search" id="example-search-input"> 
          <span class="input-group-append"> <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div></span>
        <!-- </div> -->
      </tr>
    
        <!-- <div   >  -->
        <mat-accordion class="mb-2 py-0"> 
        <table>
          <tr *ngFor="let data of Solution|filter:Searchvalue4:Searchdata4||Searchdata5 ;let i=index" >   
            <td>
            <mat-expansion-panel style="background-color: #7672ED;" (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isPanelOpen"
              class="py-0 my-0"> <mat-expansion-panel-header > <mat-panel-title>
                  <p class="mt-3 pt-2" style="font-size: 15px;color:white"><b>{{data.solutionName}}</b></p>
                </mat-panel-title> </mat-expansion-panel-header>
    
              <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"> <mat-chip
                  class="example-box" cdkDrag> {{data.solutionTags}}
                </mat-chip> </mat-chip-list>
             
              <div class="mt-3" [ngClass]="{'limitTextHeight': isReadMore}" style="color: white;"><label style="color: white;"><b>DESCRIPTION: </b>
                    </label><br>{{data.solutionDescription}}</div>
              <label class="mb-2"  type="button" (click)="showText()" *ngIf="data.solutionDescription.length>20" style="color: #37B3FB"><b>{{ isReadMore ? 'Read More': 'Read Less' }}</b></label>
              <br>
              
    
              <div class="d-flex flex-row px-1 pt-1">
                <div class="btn-grp pr-1 icon-glow"> <a aria-placeholder="View Url" target="_blank" href={{data.solutionViewUrl}}> <mat-icon style="color:white"
                      aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon></a> </div>
    
                <div class="btn-grp px-2 icon-glow"> <a aria-placeholder="Run Url" target="_blank" href={{data.solutionRunUrl}}> <mat-icon aria-hidden="false"
                      aria-label="Example home icon" fontIcon="arrow_right_circle"
                      style="transform: scale(2);color:white"></mat-icon></a> </div>
                <div class="btn-grp pl-2 pr-2">
    
                  <a  aria-placeholder="Linkage" *ngIf="!link" (click)="linkage(data)" style="cursor: pointer;color: white;margin-top: 35px !important;"><i class="fa fa-link fa-lg icon-glow"></i> </a>
    
                  <a  aria-placeholder="Linkage" *ngIf="link" (click)="refresh()" style="cursor: pointer;color: #47A0FC;margin-top: 35px !important;"><i class="fa fa-link fa-lg icon-glow"></i> </a>
                </div>
    
                
    
                <div class="btn-grp pl-1 pr-3 icon-glow" #start > <a aria-placeholder="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"
                      style="color:white;cursor: pointer;" fontIcon="edit" (click)="editData(data,'Solution')"
                      (click)="getDataSolution(data)" data-toggle="modal" data-target="#exampleModal"></mat-icon></a>
                </div>
                <!-- <div *ngIf="link"  class="btn-grp pl-1 pr-3 icon-glow" #start > <a aria-placeholder="Edit"><mat-icon [hidden]="true" aria-hidden="false" aria-label="Example home icon"
                  style="color:white;cursor: pointer;" fontIcon="edit" (click)="editData(data,'Solution')"
                  (click)="getDataSolution(data)" data-toggle="modal" data-target="#exampleModal"></mat-icon></a>
            </div> -->
           
           <div class="btn-grp pl-1 icon-glow"> <a aria-placeholder="Delete" class="demo-section"><mat-icon  matBadge="15" matBadgeColor="warn" aria-hidden="false" aria-label="Example home icon"
            style="color:white;cursor: pointer  " fontIcon="delete" data-toggle="modal" data-target="#confModal"
            (click)="deleteId(data,'Solution')"></mat-icon></a> </div>
    
    
              </div>
            </mat-expansion-panel> 
          </td>
       </tr>
    </table>
    </mat-accordion>
        <!-- </div> -->
      </table>
    </div>
    <!-- </mat-card> -->

    <!-- --------------------------------------Fontend Jar------------------------------------------------------------>

    <!-- <mat-card class=""> -->
    <div class="col-lg">
      <table id="table2" class="ex3 py-0 my-0" >
        <table class="mt-3">
        <tr>
          <td align="center" style="width: 22%; "> <i id="icon" class="fa-solid fa-code mr-3"></i> </td>
          <td align="left" style="width: 67%;">
            <h3 id="text">Frontend Jar</h3>
            <p id="text">Ui/Ux Templates</p>
          </td>
          <td style="width: 11%;">
            <div id="div2">

              <i id="text" class="fa fa-plus addButton ml-3" (click)="SelectJar('Frontend')" data-toggle="modal" data-target="#myModal"></i>
            </div>
          </td>
        </tr>
      </table>
      <!-- <div class="input-group pb-3 pt-3">  -->
        <tr class="input-group pb-3 pt-3">
          <input class="form-control py-2 border-right-0 border" style="width:130px; height:50px;background-color: transparent;" type="search" [(ngModel)]="Searchvalue3" placeholder="search" id="example-search-input">
           <span class="input-group-append">
          <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
        </span>
      </tr>
     <!-- </div> -->

      <!-- <div class="mt-2 ">  -->
        <mat-accordion class="mb-2 py-0"> 
          <table >
            <tr *ngFor="let data of Frontend|filter:Searchvalue3:Searchdata3 ;let i=index" >
              <td>
          <mat-expansion-panel style="background-color: #7672ED;" (opened)="panelOpenState = true" (closed)="panelOpenState = false"class="py-0 my-0">
             <mat-expansion-panel-header > 
              <mat-panel-title>
                <p class="mt-3 pt-2" style="font-size: 15px;color:white;" ><b>{{data.frontendName}}</b></p>
                
              </mat-panel-title> 
            </mat-expansion-panel-header> 

            <div class="mt-3" [ngClass]="{'limitTextHeight': isReadMore}" style="color: white;"><label style="color: white;"> <b>DESCRIPTION:</b>
             </label> <br> {{data.frontendDescription}}</div> 
             <label  type="button" *ngIf="data.frontendDescription.length>20"
              (click)="showText()" style="color: #37B3FB"><b> {{ isReadMore ? 'Read More': 'Read Less' }}</b>
            </label>
            <br>
            <br>
            <div class="d-flex flex-row px-1 pt-1">
              <div class="btn-grp px-1 icon-glow"> <a aria-placeholder="Style Url" target="_blank" href={{data.frontendStylesUrl}}> <mat-icon
                    style="color:white" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="visibility"></mat-icon></a> </div>

              <!-- <div class="btn-grp px-3 icon-glow"> <a aria-placeholder="run_url" target="_blank" href={{data.frontendRunUrl}}> <mat-icon aria-hidden="false"
                    aria-label="Example home icon" fontIcon="arrow_right_circle"
                    style="transform: scale(2);color:white"></mat-icon></a> </div> -->

              

              <div class="btn-grp pl-3 pr-4 icon-glow" > <a aria-placeholder="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"
                    style="color:white;cursor: pointer;" fontIcon="edit" (click)="editData(data,'Frontend')"
                    (click)="getDataFrontend(data)" data-toggle="modal" data-target="#exampleModal"></mat-icon></a>
              </div>

              <div class="btn-grp px-3 icon-glow"> <a aria-placeholder="Delete"><mat-icon aria-hidden="false" aria-label="Example home icon"
                style="color:white;cursor: pointer;margin-left:6vw;" fontIcon="delete" data-toggle="modal" data-target="#confModal"
                (click)="deleteId(data,'Frontend')"></mat-icon></a> </div>
              <!-- <div class="btn-grp pl-1 pr-2 icon-glow"  > <a aria-placeholder="Add Cart"><mat-icon  aria-hidden="false" aria-label="Example home icon"
                style="color:white;cursor: pointer;" fontIcon="add_shopping_cart" ></mat-icon></a>
             </div> -->

              <!-- <div class="btn-grp pl-5"> <a><mat-icon aria-hidden="false" aria-label="Example home icon"
                    style="color:white" fontIcon="shopping_cart"></mat-icon></a> </div> -->
            </div>
          </mat-expansion-panel> 
        </td>
      </tr>
    </table>
  </mat-accordion> 
<!-- </div> -->
</table>
</div>
    <!-- </mat-card> -->

    <!-- --------------------------------------Pipeline Jar------------------------------------------------------------>
    <div class="col-lg">
      <table id="table3" class="ex3 py-0 my-0">
      <table class="mt-3">
        <tr>
          <td align="center" style="width: 22%;"> <i id="icon" class="item al-ico-pipelines mr-3"></i> </td>
          <td align="left" style="width: 66%;">
            <h3 id="text">Pipeline Jar</h3>
            <p id="text">E2E Task Workflows</p>
          </td>
          <td style="width: 11%;">
            <div id="div2">
              <!-- <mat-icon class="addButton mr-3" data-toggle="modal" data-target="#myModal" matTooltip="Add">add</mat-icon> -->
              <i id="text" class="fa fa-plus addButton mr-3" (click)="SelectJar('Pipeline')" data-toggle="modal"
                data-target="#myModal"></i>
            </div>
          </td>
        </tr>
      </table>

      <tr class="input-group pb-3 pt-3"> 
        <input class="form-control py-2 border-right-0 border" style="width:130px; height:50px;background-color: transparent;" type="search" [(ngModel)]="Searchvalue2" placeholder="search" id="example-search-input"> 
          <span class="input-group-append"><div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div> </span> 
      </tr>
      
      
      <mat-accordion class="mb-2 py-0"> 
          <table >
          <tr *ngFor="let data of pipeline|filter:Searchvalue2:Searchdata2 ;let i=index" >
            <td>
              <mat-expansion-panel
              style="background-color: #7672ED;" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
              class="py-0 my-0"> <mat-expansion-panel-header > <mat-panel-title>
                  <p class="mt-3 pt-2" style="font-size: 15px;color:white;"><b>{{data.pipelineName}}</b></p>
                </mat-panel-title> </mat-expansion-panel-header> 
          
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"> 
              <mat-chip class="example-box" cdkDrag> {{data.pipelineTags}}</mat-chip>
             </mat-chip-list>

            <div class="mt-3">
                <div [ngClass]="{'limitTextHeight': isReadMore1}" style="color: white;">
                  <label style="color: white;"><b>DESCRIPTION:</b></label> <br>{{data.pipelineDescription}}
                </div>
                <label type="button" (click)="showText1()" *ngIf="data.pipelineDescription.length>20" style="color: #37B3FB"><b> {{ isReadMore1 ? 'Read More': 'ReadLess'}}</b></label>
            </div>
    <br>
            <div class="d-flex flex-row px-1 pt-1">
              <div class="btn-grp pl-3 pr-2 icon-glow"> <a aria-placeholder="View Url" target="_blank" href={{data.pipelineViewUrl}}> 
                <mat-icon style="color:white" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon></a> 
              </div>

              <div class="btn-grp pl-3 pr-2 icon-glow"> <a aria-placeholder="Edit">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;" fontIcon="edit"
                 data-toggle="modal" data-target="#exampleModal" (click)="editData(data,'Pipeline')"></mat-icon></a>
              </div>

              <div class="btn-grp pl-3 pr-2 icon-glow"> <a aria-placeholder="Delete">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;margin-left:7vw" fontIcon="delete"
                 data-toggle="modal" data-target="#confModal" (click)="deleteId(data,'Pipeline')"></mat-icon></a> 
              </div>

              <!-- <div class="btn-grp pl-1 pr-2 icon-glow"  > <a aria-placeholder="Add Cart"><mat-icon  aria-hidden="false" aria-label="Example home icon"
                style="color:white;cursor: pointer;" fontIcon="add_shopping_cart" ></mat-icon></a>
             </div> -->
            </div>
          </mat-expansion-panel>
        </td></tr> 
      </table>
    </mat-accordion> 
          </table>
    </div>
    <!-- ---------------------------------------Model Jar------------------------------------------------------------>
    <div class="col-lg">
      <table id="table4" class="ex3 py-0 my-0">
      <table class="mt-3">
        <tr>
          <td align="center" style="width: 22%;"> <i id="icon" class="fa fa-cube mr-3"></i> </td>
          <td align="left" style="width: 67%;">
            <h3 id="text">Model Jar</h3>
            <p id="text">Intelligence Repository</p>
          </td>
          <td style="width: 11%;">
            <div id="div2">
              <i id="text" class="fa fa-plus addButton mr-3" (click)="SelectJar('Model')" data-toggle="modal"
                data-target="#myModal"></i>
            </div>
          </td>
        </tr>
      </table>

      <tr class="input-group pb-3 pt-3" > 
        <input class="form-control py-2 border-right-0 border" style="width:130px; height:50px;background-color: transparent;" type="search" [(ngModel)]="Searchvalue1" placeholder="search" id="example-search-input"> 
          <span class="input-group-append"> <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div> </span> 
      </tr>

      <mat-accordion class="mb-2 py-0"> 
        <table >
      <tr *ngFor="let data of Modules|filter:Searchvalue1:Searchdata1 ;let i=index" class="mt-2 "> 
        <td>
          <mat-expansion-panel style="background-color: #7672ED;" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="py-0 my-0"> 
            <mat-expansion-panel-header > 
              <mat-panel-title>
                <p class="mt-3 pt-2" style="font-size: 15px;color:white"><b>{{data.modelName}}</b></p>
              </mat-panel-title> 
            </mat-expansion-panel-header>

            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"> 
              <mat-chip class="example-box" cdkDrag> {{data.modelTags}}</mat-chip> 
            </mat-chip-list>

            <div class="mt-3">
                <div [ngClass]="{'limitTextHeight': isReadMore2}" style="color: white;">
                  <label style="color: white;"><b>DESCRIPTION:</b></label><br>{{data.modelDescription}}
                </div>
                <label  type="button" (click)="showText2()" *ngIf="data.modelDescription.length>20" style="color: #37B3FB"><b>{{ isReadMore2 ? 'Read More': 'Read Less' }}</b></label>
            </div>
<br>
            <div class="d-flex flex-row px-1 pt-1">
              <div class="btn-grp pl-1 pr-3 icon-glow"> <a aria-placeholder="View Url" target="_blank" href={{data.modelViewUrl}}> 
                <mat-icon style="color:white" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon></a> 
              </div>
              <div class="btn-grp pl-1 pr-3 icon-glow"> <a aria-placeholder="Run Url" target="_blank" href={{data.modelRunUrl}}> 
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_right_circle" style="transform: scale(2);color:white"></mat-icon></a> 
              </div>

              

              <div class="btn-grp pl-1 pr-3 icon-glow"> <a aria-placeholder="Edit">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;" fontIcon="edit" (click)="editData(data,'Model')" (click)="getDataModel(data)" data-toggle="modal" data-target="#exampleModal"></mat-icon></a> 
              </div>

              <div class="btn-grp pl-1 pr-2 icon-glow" #start > <a aria-placeholder="Add Cart"><mat-icon  aria-hidden="false" aria-label="Example home icon"
                style="color:white;cursor: pointer;" fontIcon="add_shopping_cart" (click)="addtoCart(data)"></mat-icon></a>
             </div>

             <div class="btn-grp pl-1 pr-3 icon-glow"> <a aria-placeholder="Delete">
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;margin-left: 2vw;" fontIcon="delete" data-toggle="modal" data-target="#confModal" (click)="deleteId(data,'Model')">
              </mat-icon></a> 
            </div>
              <!-- <div class="btn-grp pl-5"> <a><mat-icon aria-hidden="false" aria-label="Example home icon"
                    style="color:white;cursor: pointer;" fontIcon="shopping_cart"></mat-icon></a> </div> -->
            </div>
          </mat-expansion-panel>
        </td></tr>
      </table>
       </mat-accordion> 
        </table>
      </div>
    <!-- ---------------------------------------Data Jar------------------------------------------------------------>

    <div class="col-lg">
      <table id="table5" class="ex3 py-0 my-0">
      <table class="mt-3">
        <tr>
          <td align="center" style="width: 22%;"> <i id="icon" class="item al-ico-datasets mr-3"></i> </td>
          <td align="left" style="width: 67%;">
            <h3 id="text">Data Jar</h3>
            <p id="text">Unified Data Store</p>
          </td>
          <td style="width: 11%;">
            <div id="div2">
              <i id="text" class="fa fa-plus addButton mr-3" (click)="SelectJar('Dataset')" data-toggle="modal"
                data-target="#myModal"></i>
            </div>
          </td>
        </tr>
      </table>

      <tr class="input-group pb-3 pt-3"> 
        <input class="form-control py-2 border-right-0 border" style="width:130px; height:50px;background-color: transparent;" [(ngModel)]="Searchvalue" type="search" placeholder="search" id="example-search-input"> 
          <span class="input-group-append"> <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div></span>
      </tr>

      <mat-accordion class="mb-2 py-0"> 
        <table>
      <tr *ngFor="let data of Dataset|filter:Searchvalue:Searchdata ;let i=index" class="mt-2">
        <td>
          <mat-expansion-panel style="background-color: #7672ED;" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="py-0 my-0">
            <mat-expansion-panel-header > 
              <mat-panel-title>
                <p class="mt-3 pt-2" style="font-size: 15px;color:white;"><b>{{data.datasetName}}</b></p>
              </mat-panel-title> 
            </mat-expansion-panel-header >
            <div class="d-flex flex-row pt-2 px-1">
              <div>
                <p style="color:white"><b>VERSION: </b>{{data.datasetVersion}}</p>
                <div [ngClass]="{'limitTextHeight': isReadMore3}" style="color: white;">
                  <label style="color: white;"><b>DESCRIPTION:</b> </label><br>{{data.datasetDescription}}
                </div>
                <label  type="button" (click)="showText3()" *ngIf="data.datasetDescription.length>20" style="color: #37B3FB"><b> {{ isReadMore3 ? 'Read More': 'ReadLess' }}</b></label>
              </div> 
            </div>
  <br>
            <div class="d-flex flex-row px-1 pt-1">
              <div class="btn-grp px-1 icon-glow"> <a aria-placeholder="View Url" target="_blank" href={{data.datasetUrl}}> 
                <mat-icon style="color:white" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon></a> 
              </div>
              
              <div class="btn-grp pl-3 pr-4 icon-glow"> <a aria-placeholder="Edit">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;" fontIcon="edit" (click)="editData(data,'Dataset')" (click)="getData(data)" data-toggle="modal" data-target="#exampleModal"></mat-icon></a> 
              </div>

              <div class="btn-grp pl-2 pr-2 icon-glow" #start > <a aria-placeholder="Add Cart"><mat-icon  aria-hidden="false" aria-label="Example home icon"
                style="color:white;cursor: pointer;" fontIcon="add_shopping_cart" (click)="addtoCart(data)"></mat-icon></a>
             </div>

             <div class="btn-grp px-3 icon-glow"> <a aria-placeholder="Delete">
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:white;cursor: pointer;margin-left:3vw;" fontIcon="delete" data-toggle="modal" data-target="#confModal" (click)="deleteId(data,'Dataset')"></mat-icon></a> 
            </div>
              <!-- <div class="btn-grp pl-5"> <a><mat-icon aria-hidden="false" aria-label="Example home icon"
                    style="color:white;cursor: pointer;" fontIcon="shopping_cart"></mat-icon></a> </div> -->
            </div>
          </mat-expansion-panel></td></tr>
        </table>
         </mat-accordion>
     
    </table>
  </div>
</div>



<!---- The Modal ======== Create Dataset ---->
<div class="modal" id="DownloadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="popup container"> <mat-tab-group [selectedIndex]="selectedIndex"> <mat-tab label="API_Data">
            <form [formGroup]="formdata1" class="example-form">
              <h4 style="margin-left: 15px;margin-top: 7px;margin-bottom: 15px;">Enter Details</h4> <mat-form-field
                class="example-full-width" appearance="outline"> <mat-label>Dataset Project Name</mat-label> <input
                  matInput placeholder="Enter name" formControlName="dataset_project"> </mat-form-field> <mat-form-field
                class="example-full-width" appearance="outline"> <mat-label>Name Of Dataset</mat-label> <input matInput
                  placeholder="Enter name" formControlName="dataset_name"> </mat-form-field>
            </form>
            <div class="modal-footer"> <button type="button" class="btn btn-success" (click)="DownloadData()"
                [disabled]="!formdata1.valid">Next</button> <button type="button" class="btn btn-danger"
                data-bs-dismiss="modal">Close</button> </div>
          </mat-tab> <mat-tab label="Script" [disabled]="!formdata1.valid"> <br><br>
            <pre class="code_color">{{value1}}</pre> <button type="button" class="btn btn-success model"
              (click)="copytext()">Copy</button>
          </mat-tab> </mat-tab-group> </div>
    </div>
  </div>
</div>


 <!----------------------------- adding jars --------------------------------------->
<div class="modal" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog" style="min-width: 75vw;" >
   
    <div class="modal-content" style="margin-top: 10vw;" >
      <div class="popup container">


        <!-------------------- Add Solution   ---------------------------->
        <form [formGroup]="formdata3" class="example-form" *ngIf="sln">
          
          <div class="m-3">
            <h3 id="title"><b>Add Solution</b></h3>
             <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="width:10px;height:10px"></button>
          </div>

         
            <div class="d-flex flex-row m-3">
            <div>
               <mat-form-field style="min-width:35vw;" class="example-full-width" appearance="outline"> 
                <input id="inputStyle" matInput placeholder="Solution Name" formControlName="solution_name">
              </mat-form-field> 
            </div> 

             <div class="px-3"> 
              <mat-form-field style="min-width:35vw" class="example-full-width " appearance="outline">
               
                <input id="inputStyle" matInput placeholder="Solution view url" formControlName="view_url">
              </mat-form-field> 
            </div>
          </div>

          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label id="subTitle"><b>Solution Run Url</b></mat-label>  -->
                <input id="inputStyle" matInput placeholder="Solution Run Url" formControlName="run_url">
              </mat-form-field>
            </div>
            <div class="px-3"> 
              <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                
                <input id="inputStyle" matInput placeholder="Solution Tags" formControlName="solution_tags">
              </mat-form-field> </div>
          </div>

          <div class="d-flex flex-row m-3">
            <div>
              <mat-form-field style="min-width:71vw" class="example-full-width" appearance="outline">

                
                <input id="inputStyle" matInput placeholder="Solution Description"
                  formControlName="solution_description">
              </mat-form-field>
            </div>

          </div>
          <hr class="ml-3" style="width: 207%;">

          <h6 class="ml-4">Use dropdowns for Linkage</h6>

          <div class="d-flex flex-row m-3">
           <div class="ml-3" style="min-width:35vw">
            <ng-multiselect-dropdown
            class="customClass"
            [placeholder]="'Model'"
            [settings]="dropdownSettings"
            [data]="Modules"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event,'model')"
            (onSelectAll)="onSelectAll($event,'model')"
            style="height: 40px;background-color: white !important;"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="px-3" style="min-width:35vw; background-color: #fff;">
          <ng-multiselect-dropdown
          [placeholder]="'Dataset'"
          [settings]="dropdownSettings1"
          [data]="Dataset"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event,'dataset')"
          (onSelectAll)="onSelectAll($event,'dataset')"
        >
        </ng-multiselect-dropdown>
      </div>
       
          </div>
          <div class="d-flex flex-row m-3">
           <div class="ml-3" style="min-width:35vw">
            <ng-multiselect-dropdown
            [placeholder]="'Pipeline'"
            [settings]="dropdownSettings2"
            [data]="pipeline"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event,'pipeline')"
            (onSelectAll)="onSelectAll($event,'pipeline')"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="px-3" style="min-width:35vw">
          <ng-multiselect-dropdown
          [placeholder]="'Frontend'"
          [settings]="dropdownSettings3"
          [data]="Frontend"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event,'frontend')"
          (onSelectAll)="onSelectAll($event,'frontend')"
        >
        </ng-multiselect-dropdown>
      </div>
      <!-- <div id="div2" class="leftspace">
        <mat-form-field class="width">
          <mat-label> Complexity </mat-label>
          <mat-select  ngDefaultControl >
            <mat-option *ngFor="let x of Frontend"   >{{ x.frontendName }}</mat-option> 
          </mat-select>
        </mat-form-field>
      </div> -->

      </div>
          <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
              (click)="addSolution()" data-dismiss="modal" [disabled]="!formdata3.valid">Save</button> &nbsp;<button type="button"
              class="btn btn-danger" data-dismiss="modal">Close</button> </div>
        </form>

         <!-------------------- Add Dataset---------------------------->
        <form [formGroup]="formdata" class="example-form" *ngIf="ds">

          <div class="m-3">
            <h3 id="title"><b>Add Dataset</b></h3> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="width:10px;height:10px"></button>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="Enter name" formControlName="name"> </mat-form-field>
            </div>

            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Enter Id" formControlName="id"> </mat-form-field>
            </div>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="Enter version" formControlName="version"> </mat-form-field>
            </div>

            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Enter URL" formControlName="url"> </mat-form-field>
            </div>
          </div>

          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:71vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="Desc" formControlName="desc"> </mat-form-field> </div>
          </div>

          <div class="modal-footer ml-4" style="width: 70vw;"> 
            <button type="button" class="btn btn-success" (click)="addDataset()" data-dismiss="modal" [disabled]="!formdata.valid">Save</button> &nbsp;
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> </div>
        </form>

        <form [formGroup]="formdata2" class="example-form" *ngIf="mdl">
          <div class="m-3">
            <h3 id="title"><b>Add Model</b></h3> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="width:10px;height:10px"></button>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Model Project Name</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="Model Project Name" formControlName="project_name">
              </mat-form-field> </div>
            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>View url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="View url" formControlName="view_url"> </mat-form-field> </div>
          </div>

          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Run url" formControlName="run_url"> </mat-form-field> </div>

            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Model Tags" formControlName="model_tags"> </mat-form-field>
            </div>
          </div>

          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:71vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Run url</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Model Description" formControlName="desc"> </mat-form-field>
            </div>
          </div>
          <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
              (click)="addModel()" data-dismiss="modal" [disabled]="!formdata2.valid">Save</button> &nbsp;<button type="button" class="btn btn-danger"
              data-dismiss="modal">Close</button> </div>
        </form>

 

        <form [formGroup]="formdata8" class="example-form" *ngIf="ppln">
          <div class="mt-4 p-3">
            <h3 id="title"><b>Add Pipeline</b></h3> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="width:10px;height:10px"></button>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline Name</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Pipeline Name" formControlName="pipeline_name">
              </mat-form-field> </div>
            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline View URL</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="View URL" formControlName="pipelineView_url">
              </mat-form-field> </div>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Description</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Description" formControlName="pipeline_description">
              </mat-form-field> </div>
            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline Name</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Pipeline Tags" formControlName="pipeline_tags">
              </mat-form-field> </div>
          </div>

          <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
              (click)="addPipeline()" data-dismiss="modal" [disabled]="!formdata8.valid">Save</button> &nbsp;<button type="button"
              class="btn btn-danger" data-dismiss="modal">Close</button> </div>
        </form>

        <!-- add frontend -->

        <form [formGroup]="formdata9" class="example-form" *ngIf="fend">
          <div class="mt-4 p-3">
            <h3 id="title"><b>Add Frondend</b></h3> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="width:10px;height:10px"></button>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline Name</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Pipeline Name" formControlName="frontend_name">
              </mat-form-field> </div>
            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline View URL</b></mat-label> -->
                <input id="inputStyle" matInput placeholder="View URL" formControlName="frontendStyle_url">
              </mat-form-field> </div>
          </div>
          <div class="d-flex flex-row m-3">
            <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Description</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Description" formControlName="frontendRun_url">
              </mat-form-field> </div>
            <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
                <!-- <mat-label style="font-size:16px;margin-left: 10px;"><b>Pipeline Name</b></mat-label> --> <input
                  id="inputStyle" matInput placeholder="Pipeline Tags" formControlName="frontend_description">
              </mat-form-field> </div>
          </div>

          <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
              (click)="addFrontend()" data-dismiss="modal" [disabled]="!formdata9.valid">Save</button> &nbsp;<button type="button"
              class="btn btn-danger" data-dismiss="modal">Close</button> </div>
        </form>

       
      </div>
    </div>
  </div>
</div>

<!---------------------------------------- edit Section ---------------------------------------------------->

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-backdrop="true">
  <div class="modal-dialog" style="min-width:75vw;">
    <div class="modal-content" style=" margin-top: 10vw;">

      <!-- edit Dataset modal -->
      <form [formGroup]="formdata4" class="example-form" *ngIf="ds">
        <div class="m-3">
          <h3 id="title"><b>Edit Dataset</b></h3> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" style="width:10px;height:10px"></button>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Dataset Name</b></mat-label>
              <input id="inputStyle" matInput placeholder="Enter name" formControlName="name"> </mat-form-field> </div>

          <div class="px-3"> <mat-form-field style="width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Dataset Id</b></mat-label> <input id="inputStyle" matInput
                placeholder="Enter Id" formControlName="id"> </mat-form-field>
          </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Version</b></mat-label>
              <input id="inputStyle" matInput placeholder="Enter Id" formControlName="version"> </mat-form-field> </div>

          <div class="px-3"> <mat-form-field style="width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Dataset Url</b></mat-label> <input id="inputStyle" matInput
                placeholder="Enter URL" formControlName="url"> </mat-form-field>
          </div>
        </div>

        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:71vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Description</b></mat-label>
              <input id="inputStyle" matInput placeholder="Desc" formControlName="desc"> </mat-form-field> </div>
        </div>

        <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
            (click)="editDataset()" data-dismiss="modal">Save</button> &nbsp;<button type="button"
            class="btn btn-danger" data-dismiss="modal">Close</button> </div>
      </form>

      <!-- edit Model modal -->
      <form [formGroup]="formdata6" class="example-form" *ngIf="mdl">
        <div class="m-3">
          <h3 id="title"><b>Edit Model</b></h3> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" style="width:10px;height:10px"></button>
        </div>
        <div class="d-flex flex-row m-3">
          <div class="px-3"> <mat-form-field style="width:35vw;" class="example-full-width"
              appearance="outline"> <mat-label id="subTitle"><b>Name</b></mat-label> <input id="inputStyle" matInput
                placeholder="" formControlName="project_name"> </mat-form-field><br> </div>

          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Tags</b></mat-label> <input id="inputStyle" matInput placeholder=""
                formControlName="modelTags"> </mat-form-field> </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
            <mat-label id="subTitle"><b>View Url</b></mat-label> <input id="inputStyle" matInput placeholder=""
              formControlName="view_url"> </mat-form-field> </div>

          <div class="px-3"> <mat-form-field style="width:35vw;" class="example-full-width"
              appearance="outline">
              <mat-label id="subTitle"><b>Run Url</b></mat-label> <input id="inputStyle" matInput placeholder=""
                formControlName="run_url"> </mat-form-field> </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div class="px-3"> <mat-form-field style="min-width:71vw" class="example-full-width" appearance="outline">
            <mat-label id="subTitle"><b>Description</b></mat-label> <input id="inputStyle" matInput placeholder=""
              formControlName="desc"> </mat-form-field> </div>

          
        </div>
        <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
            (click)="editModel()" data-dismiss="modal">Save</button> &nbsp;<button type="button" class="btn btn-danger"
            data-dismiss="modal">Close</button> </div>
      </form>

      <!-- edit solution modal -->
      <form [formGroup]="formdata7" class="example-form" *ngIf="sln">
        <div class="m-3">
          <h4 id="title"><b>Edit Solution</b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            style="width:10px;height:10px"></button>
        </div>

        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Solution Name</b></mat-label>
              <input id="inputStyle" matInput placeholder="" formControlName="solution_name">
            </mat-form-field>
          </div>
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Solution View Url</b></mat-label>
              <input id="inputStyle" matInput placeholder="" formControlName="view_url"> </mat-form-field>
          </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Solution Run Url</b></mat-label>
              <input id="inputStyle" matInput placeholder="" formControlName="run_url"> </mat-form-field> </div>
              
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Solution Tags</b></mat-label> <input id="inputStyle" matInput placeholder=""
                formControlName="solution_tags">
            </mat-form-field> </div>
        </div>
        <div class="d-flex flex-row m-3"> <mat-form-field style="min-width:35vw" class="example-full-width"
            appearance="outline"> <mat-label id="subTitle"><b>Solution Description</b></mat-label> <input
              id="inputStyle" matInput placeholder="" formControlName="solution_description"> </mat-form-field> </div>

              <div class="d-flex flex-row m-3">
                <div class="ml-3" style="min-width:35vw">

                 <ng-multiselect-dropdown
                 formControlName="linkedarray"
                 class="customClass"
                 [placeholder]="'Model'"
                 [settings]="dropdownSettingsmodel"
                 [data]="Modules"
                 [selected-item]="selectedItems"
                 [(ngModel)]="selectedValues"
                 [enableCheckAll]="false"
                 (onDeSelect)="unselect($event,'model')"
                 (onSelect)="onEditItemSelect($event,'model')"
                 (onSelectAll)="onSelectAll($event,'model')"
                 
                 style="height: 40px;background-color: white !important;"
               >
               </ng-multiselect-dropdown>
             </div>
             <div class="px-3" style="min-width:35vw; background-color: #fff;">
               <ng-multiselect-dropdown
               formControlName="linkeddata"
               class="customClass"
               [placeholder]="'Dataset'"
               [settings]="dropdownSettingsdata"
               [data]="Dataset"
               [enableCheckAll]="false" 
               [(ngModel)]="selectedValues1"
               (onDeSelect)="unselect($event,'dataset')"
               (onSelect)="onEditItemSelect($event,'dataset')"
               (onSelectAll)="onSelectAll($event,'dataset')"
             >
             </ng-multiselect-dropdown>
            
           </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div class="ml-3" style="min-width:35vw">
           <ng-multiselect-dropdown
           formControlName="linkedpipeline"
           [placeholder]="'Pipeline'"
           [settings]="dropdownSettingspipeline"
           [data]="pipeline"
           [enableCheckAll]="false"
           [(ngModel)]="selectedValues2"
           (onDeSelect)="unselect($event,'pipeline')"
           (onSelect)="onEditItemSelect($event,'pipeline')"
           (onSelectAll)="onSelectAll($event,'pipeline')"
         >
         </ng-multiselect-dropdown>
       </div>
       <div class="px-3" style="min-width:35vw">
         <ng-multiselect-dropdown
         formControlName="linkedfrontend"
         [placeholder]="'Frontend'"
         [settings]="dropdownSettingsfrontend"
         [data]="Frontend"
         [enableCheckAll]="false"
         [(ngModel)]="selectedValues3"
         (onDeSelect)="unselect($event,'frontend')"
         (onSelect)="onEditItemSelect($event,'frontend')"
         (onSelectAll)="onSelectAll($event,'frontend')"
       >
       </ng-multiselect-dropdown>
     </div>
     </div>

        <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
            (click)="editSolution()" data-dismiss="modal">Save</button> &nbsp;<button type="button"
            class="btn btn-danger" data-dismiss="modal">Close</button> </div>
      </form>

      <!-- edit Pipeline modal -->
      <form [formGroup]="formdata8" class="example-form" *ngIf="ppln">
        <div class="mt-4 p-3">
          <h3 id="title"><b>Edit Pipeline</b></h3> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" style="width:10px;height:10px"></button>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Pipeline Name</b></mat-label>
              <input id="inputStyle" matInput placeholder="Pipeline Name" formControlName="pipeline_name">
            </mat-form-field> </div>
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Pipeline View URL</b></mat-label>
              <input id="inputStyle" matInput placeholder="View URL" formControlName="pipelineView_url">
            </mat-form-field> </div>
        </div>

        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Description</b></mat-label>
              <input id="inputStyle" matInput placeholder="Description" formControlName="pipeline_description">
            </mat-form-field> </div>
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Pipeline Name</b></mat-label>
              <input id="inputStyle" matInput placeholder="Pipeline Tags" formControlName="pipeline_tags">
            </mat-form-field> </div>
        </div>

        <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
            (click)="editPipeline()" data-dismiss="modal">Save</button> &nbsp;<button type="button"
            class="btn btn-danger" data-dismiss="modal">Close</button> </div>
      </form>

      <!-- edit frontend -->
      <form [formGroup]="formdata9" class="example-form" *ngIf="fend">
        <div class="mt-4 p-3">
          <h3 id="title"><b>Edit Frontend</b></h3> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" style="width:10px;height:10px"></button>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline"> <mat-label
                id="subTitle"><b>Frontend Name</b></mat-label> <input id="inputStyle" matInput
                placeholder="Pipeline Name" formControlName="frontend_name"> </mat-form-field> </div>
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Frontend Style URL</b></mat-label> <input id="inputStyle" matInput
                placeholder="View URL" formControlName="frontendStyle_url"> </mat-form-field> </div>
        </div>
        <div class="d-flex flex-row m-3">
          <div> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline"> <mat-label
                id="subTitle"><b>Frontend Run URL</b></mat-label> <input id="inputStyle" matInput
                placeholder="Pipeline Tags" formControlName="frontendRun_url"> </mat-form-field> </div>
          <div class="px-3"> <mat-form-field style="min-width:35vw" class="example-full-width" appearance="outline">
              <mat-label id="subTitle"><b>Description</b></mat-label> <input id="inputStyle" matInput
                placeholder="Description" formControlName="frontend_description"> </mat-form-field> </div>
        </div>
        <div class="modal-footer ml-4" style="width: 70vw"> <button type="button" class="btn btn-success"
            (click)="editFrontend()" data-dismiss="modal">Save</button> &nbsp;<button type="button"
            class="btn btn-danger" data-dismiss="modal">Close</button> </div>
      </form>

    </div>
  </div>
</div>
<!-----------------------------><!-- -----------Modal ======= Create Models------------- --><!----------------------------->

<div class="modal" id="ModelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="popup container">
        <mat-tab-group>
          <mat-tab label="Script">
            <pre>{{value2}}</pre> <button type="button" class="btn btn-success model"
              (click)="copytext1()">Copy</button>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


<!---------------------------- delete confirmation popup ------------------------------------->

<div class="modal" id="confModal" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">    
      </div> -->
      <div class="modal-body ">
        <div class="text-right">
          <button class="btn-close" style="font-size:15px" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <h3 class="m-4" style="text-align: center;color: black;">Are You Sure You Want to Delete!!?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 42% !important;"
          *ngIf="ds" (click)="deleteDataset()">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 42% !important;"
          *ngIf="sln" (click)="deleteSolution()">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 42% !important;"
          *ngIf="mdl" (click)="deleteModel()">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 42% !important;"
          *ngIf="ppln" (click)="deletePipeline()">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 42% !important;"
          *ngIf="fend" (click)="deleteFrontend()">Delete</button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>



